
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 20% 95%;
    --foreground: 214 97% 15%;

    --card: 0 0% 100%;
    --card-foreground: 214 97% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 214 97% 15%;

    --primary: 205 100% 29%;
    --primary-foreground: 0 0% 100%;

    --secondary: 199 43% 54%;
    --secondary-foreground: 0 0% 100%;

    --muted: 195 20% 90%;
    --muted-foreground: 212 38% 30%;

    --accent: 195 20% 85%;
    --accent-foreground: 214 97% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 195 20% 85%;
    --input: 195 20% 85%;
    --ring: 205 100% 29%;

    --radius: 0.5rem;

    --sidebar-background: 214 97% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 205 100% 29%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 214 65% 22%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 214 65% 22%;
    --sidebar-ring: 205 100% 29%;
  }

  .dark {
    --background: 214 97% 15%;
    --foreground: 195 20% 95%;

    --card: 214 65% 22%;
    --card-foreground: 195 20% 95%;

    --popover: 214 65% 22%;
    --popover-foreground: 195 20% 95%;

    --primary: 199 43% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 205 100% 29%;
    --secondary-foreground: 0 0% 100%;

    --muted: 214 45% 30%;
    --muted-foreground: 195 20% 80%;

    --accent: 214 45% 30%;
    --accent-foreground: 195 20% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 214 45% 30%;
    --input: 214 45% 30%;
    --ring: 199 43% 54%;

    --sidebar-background: 214 97% 15%;
    --sidebar-foreground: 195 20% 95%;
    --sidebar-primary: 199 43% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 214 65% 22%;
    --sidebar-accent-foreground: 195 20% 95%;
    --sidebar-border: 214 45% 30%;
    --sidebar-ring: 199 43% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
